tmp/*
.DS_Store
.idea/
pkg/
Gemfile.lock
*.swp
*~
.rvmrc
target/
lib/libSVM/target/
*.gem
.settings/
.classpath
.project
dependency-reduced-pom.xml
.fdt
.fdx
.fnm
.si
.frq
.prx
.tim
.tip
.cfe
.cfs
.log
log/
IndexDirectory/
